body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  font-family: $font-family;
  //background: url("/_design/preview/pink-index-mobile.jpg") no-repeat center top;
  min-height: 3014px;
  //background-color: #2aab6d;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-widths) {
  body {
    //background: url("/_design/preview/pink-index-tablet.jpg") no-repeat center top;
    min-height: 3264px;
  }
}

@media (min-width: $desktop-widths) {
  body {
    //background: url("/_design/preview/pink-index-desktop.jpg") no-repeat center top;
    min-height: 2056px;
  }
}
