
$bg-darkgrey: lightgrey;
//$mobile-widths-only: #{"(max-width: 767px)"};
//$tablet-widths: #{"(min-width: 768px)"};
//$desktop-widths: #{"(min-width: 1150px)"};

$mobile-widths-only: 959px;
$mobile-widths-only-table: 620px;
$tablet-widths: 660px;
//$tablet-widths: 768px;
$desktop-widths: 960px;
$retina: '(min-resolution: 144dpi) and (min-resolution: 1.5dppx)';



$font-family: 'Open Sans', "Arial", sans-serif;
$font-family-bold: 'Open Sans Bold', "Arial", sans-serif;
$font-family-light: 'Open Sans Light', "Arial", sans-serif;


$green-submit: #2aab6d;
$green-submit-hover: #1c9b5e;
$green-submit-active: #1c9b5e;
$red-danger: #d22856;
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighter:      #e5e5e5;
$gray-btn:      #dddfe0;
$link-color: #ffffff;
$promo-heading-color: #283645;

// Базовая типографика

$font-size--root:             16px;

$font-size:                   1rem; // rem(16px)

$font-size--h1:               rem(40px);
$font-size--h2:               rem(32px);
$font-size--h3:               rem(24px);
$font-size--h4:               rem(18px);
$font-size--h5:               rem(16px);
$font-size--h6:               rem(16px);

$font-size--small:            80%;

$line-height:                 1.5;

$font-family:                 -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
$font-family--monospace:      SFMono-Regular, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
$font-family--headings:       $font-family;

//$color-main: #0275d8;
$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);
$gray:                        hsl(0, 0%, 50%);

$color-vk:                    #4a76a8;
$color-fb:                    #4267b2;
$color-tw:                    #40A2F5;
$color-gh:                    #24292e;


// Grid-variables

// Ширины

$screen-xs:                   320px;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;

// Модульная сетка

$grid-columns:                12;
//$grid-gutter-width:           rem(30px);
$grid-gutter-width:           40px;


// Разное

$typo-margin-vertical:        1em;
$field-padding-vertical:      0.3em;
$field-padding-horizontal:    0.7em;

$border-radius:               rem(3px);
$opacity:                     0.7;
$transition-time:             0.3s;
$shadow:                      0 4px 2px -2px rgba(0, 0, 0, 0.3);

$menu-desktop-width:          $screen-lg;
$toggler-part-height:         3px;
$toggler-part-bg-color:       #000;

$z-index-modal:               100;
