.add-cards {
  &__inner {
    @include container;
    outline: 1px dotted #4a76a8;
  }

  &__grid {
    @include row;
    margin-left: 0;
    margin-right: 0;
    margin-top: 35px;

    @media (min-width: $screen-md) {
      margin-top: 80px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 78px;
      max-width: 895px;
    }
  }

  &__grid .add-card {
    //@include col;
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    @include col(md, 12, 12, 0);
    outline: 1px dotted blue;
    align-items: stretch;
    min-height: 129px;

    @media (min-width: $screen-md) {
      box-sizing: border-box;
      padding-left: 35px;
      padding-right: 35px;
      min-height: 139px;
    }

    @media (min-width: $screen-lg) {
      padding: 0;
      min-height: 71px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__title {
    position: relative;
    padding-top: 10px;
    font-size: 24px;
    line-height: 24px;
    font-family: $font-family;
    font-weight: normal;
    color: $color-cod-gray;

    &::after {
      left: 245px;
      top: 23px;
      position: absolute;
      content: '';
      width: 55px;
      height: 3px;
      background-color: $color-apple;
      //background-color: black;

      @media (min-width: $screen-md) {
        left: 410px;
        top: 30px;
        width: 329px;
      }

      @media (min-width: $screen-lg) {
        top: 29px;
        left: 373px;
        width: 957px;
      }
    }

    &::before {
      background-color: $color-apple;

      @media (min-width: $screen-md) {
        //background-color: black;
        background-color: $color-apple;
        position: absolute;
        content: '';
        width: 28px;
        height: 3px;
        left: -30px;
        top: 30px;
      }

      @media (min-width: $screen-lg) {
        top: 29px;
        left: -110px;
        width: 70px;
      }
    }

    @media (min-width: $screen-md) {
      margin-top: 20px;
      padding-left: 35px;
      font-size: 36px;
      line-height: 36px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 0;
    }
  }
}
