$gray-lighter: hsl(0, 0%, 80%) !default;
$gray-lightest: hsl(0, 0%, 90%) !default;
$text-color: hsl(0, 0%, 10%) !default;
$line-height: 1.5 !default;

$field-padding-vertical: 0.3em !default;
$field-padding-horizontal: 0.7em !default;

$border-radius: rem(3px) !default;

.btn {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  white-space: nowrap;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-family: $font-family;
  line-height: $line-height;
  text-decoration: none;
  text-transform: uppercase;
  color: $link-color!important;
  //border-radius: $border-radius;
  //border: 1px solid $gray-lighter;
  border: none;
  background-color: $color-apple;
  background-image: none;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: inherit;
    color: $link-color;
    background-color: $color-apple-hover;
  }

  &:visited {
    color: $text-color;
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    //color: $text-color;
    color: white;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--apple {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color-apple;
    font-family: $font-family;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      left: 100px;
      top: 285px;
      position: absolute;
      width: 245px;
      font-size: 20px;
      line-height: 20px;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    @media  (min-width: $screen-lg) {
      top: 340px;
    }

  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  // &--main {
  //   color: #fff;
  //   background-color: $color-main;
  //   border: 1px solid $color-main;

  //   &:hover,
  //   &:focus {
  //     color: #fff;
  //     background-color: darken($color-main, 10%);
  //     border-color: darken($color-main, 12%);
  //   }

  //   &--disabled,
  //   &:disabled {
  //     color: #fff;
  //     background-color: $color-main;
  //     border-color: $color-main;
  //   }
  // }
}
