.example {
  margin-top: -8px;
  min-height: 705px;

  @media (min-width: $screen-md) {
    margin-top: -45px;
  }

  @media (min-width: $screen-lg) {
    margin-top: -65px;
  }

  &__inner {
    @include container;
    //background-color: $color-concrete;

    @media (min-width: $screen-md) {
      padding-bottom: 38px;
      //background-color: $link-color;
      background-color: transparent;
    }

    @media (min-width: $screen-lg) {
      //max-height: 565px;
      padding-bottom: 58px;
    }
  }

  &__grid {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-sm) {
      justify-content: space-around;
    }

    @media (min-width: $screen-md) {
      margin-top: 53px;
      max-width: 365px;
      justify-content: space-between;
    }

    @media (min-width: $screen-lg) {
      margin-top: 65px;
    }
  }

  &__grid-item {
    min-width: 124px;
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-silver;
    border-radius: 4px;
    justify-content: center;

    @media (min-width: $screen-md) {
      min-width: 160px;
      border: 1px solid $color-silver;
      border-radius: 4px;
      min-height: 72px;
      justify-content: flex-end;
    }
  }

  &__title {
    padding-top: 15px;
    font-family: $font-family;
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
    color: $color-cod-gray;

    @media (min-width: $screen-md) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__description {
    margin-top: -10px;
    font-family: $font-family--arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: $color-tundora;

    @media (min-width: $screen-md) {
      margin-top: 0;
      padding-top: 10px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 130px;
      max-width: 440px;
    }
  }

  &__subtitle {
    padding-top: 20px;
    font-family: $font-family;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    color: $color-cod-gray;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__text {
    position: relative;
    top: 10px;
    max-width: 60px;
    background-color: $color-concrete;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: $font-family--arial;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    color: $color-tundora;

    @media (min-width: $screen-md) {
      max-width: 130px;
      font-size: 14px;
      line-height: 14px;
      top: 6px;
      background-color: $link-color;
    }
  }

  &__text--cost {
    padding-top: 20px;
    text-align: center;
    font-family: $font-family;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: $color-cod-gray;

    @media (min-width: $screen-md) {
      position: relative;
      top: -110px;
      left: 530px;
      max-width: 177px;
      text-align: right;
      font-size: 20px;
      line-height: 28px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 35px;
      top: 0;
      left: 0;
      max-width: 325px;
      text-align: justify;
    }
  }

  &__img {
    margin-top: 40px;

    @media (min-width: $screen-sm) {
      text-align: center;
    }

    @media (min-width: $screen-md) {
      margin-top: -62px;
      position: relative;
      text-align: unset;
      //margin-left: 65px;
    }

    @media (min-width: $screen-lg) {
      position: absolute;
    }

    & picture {
      @media (min-width: $screen-lg) {
        position: absolute;
        left: 555px;
        top: -560px;
      }
    }
  }

  &__img::after {
    @media (min-width: $screen-md) {
      position: absolute;
      content: '';
      background: url("../img/after-desktop.png");
      width: 354px;
      height: 607px;
    }

    @media (min-width: $screen-lg) {
      top: -555px;
      left: 915px;
    }
  }
}
