.features {
  margin-top: -30px;

  @media (min-width: $screen-lg) {
    margin-top: -5px;
  }

  &__inner {
    @include container;
  }

  &__list {
    padding-inline-start: 0;
    @include row;
    list-style: none;
    //outline: 1px dotted pink;
    margin: 0;
    margin-top: -8px;

    @media (min-width: $screen-md) {
      margin: 0;
      margin-top: 70px;
      justify-content: space-between;
    }

  }

  &__item {
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    @include col(md, 5, 11, 0);
    @include col(lg, 2.8, 14, 0);
    //outline: 1px dotted blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
    max-height: 62px;

    @media (min-width: $screen-md) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
      min-height: 233px;
      margin-bottom: 83px;
    }
  }

  &__img {
    display: block;
    position: relative;
    width: 61px;
    height: 61px;
    background-color: $color-apple;
    //background-color: pink;

    @media (min-width: $screen-md) {
      width: 80px;
      height: 80px;
    }

    &::before {
      position: absolute;
      content: "";
      top: 25%;
      left: 25%;
      z-index: 1;

      @media (min-width: $screen-md) {
        top: 30%;
        left: 30%;
      }
    }

    &--first {
      &::before {
        background: url(../img/advantage-1.png) no-repeat;
        width: 26px;
        height: 29px;
      }
    }

    &--second {
      &::before {
        background: url(../img/advantage-2.png) no-repeat;
        width: 29px;
        height: 31px;
      }
    }

    &--fird {
      &::before {
        background: url(../img/advantage-3.png) no-repeat;
        width: 26px;
        height: 29px;
      }
    }

    &--fourth {
      &::before {
        background: url(../img/advantage-4.png) no-repeat;
        width: 26px;
        height: 29px;
      }
    }

    @media (min-width: $screen-md) {

      &::after {
        position: absolute;
        font-family: $font-family;
        font-size: 281px;
        top: -78px;
        left: 105px;
        color: $color-concrete;
        z-index: 0;
      }

      &--first {

        &::after {

          content: '1';

        }
      }

      &--second {
        &::after {
          content: '2';
        }
      }

      &--fird {
        &::after {
          content: '3';
        }
      }

      &--fourth {
        &::after {
          content: '4';
        }
      }
    }
  }

  &__title {
    font-family: $font-family;
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
    color: $color-cod-gray;

    @media (min-width: $screen-md) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__description {
    width: 70%;
    font-family: $font-family--arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: $color-tundora;

    @media (min-width: $screen-md) {
      padding-top: 15px;
      max-width: 233px;
      font-size: 16px;
      line-height: 24px;
      z-index: 1;
    }

    @media (min-width: $screen-lg) {
      min-width: 240px;
    }
  }
}
