.field-actions {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-top: -10px;
  margin-bottom: -10px;

  @media (min-width: $screen-md) {
    flex-direction: row;
    padding-left: 40px;
    width: 523px;
    justify-content: space-between;
  }

  @media (min-width: $screen-lg) {
    margin-top: -48px;
    width: 835px;
    padding-left: 0;
  }

  &__text {
    text-align: center;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-family--arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: $color-tundora;

    @media (min-width: $screen-md) {
      font-size: 16px;
    }
  }
}
