.field-actions {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-bottom: 25px;
  margin-top: -10px;
  margin-bottom: -10px;

  &__text {
    text-align: center;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $font-family--arial;
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
    color: $color-tundora;

  }
}
