$gray-lighter: hsl(0, 0%, 80%) !default;
$border-color: hsl(0, 0%, 60%) !default;
$text-color--muted: hsl(0, 0%, 50%) !default;
$line-height: 1.5 !default;
$field-padding-vertical: 0.3em !default;
$field-padding-horizontal: 0.7em !default;
$border-radius: rem(3px) !default;

.field-text {

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 18px;
  width: 100%;

  & textarea {
    min-height: 155px;
  }

  &__name {
    font-family: $font-family;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: $color-mine-shaft;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      font-size: 20px;
      line-height: 20px;
    }

    &--email {
      position: relative;
    }

    &--tel {
      position: relative;
    }

    &--email::after {
      top: 4px;
      left: 255px;
      position: absolute;
      content: "";
      width: 17px;
      height: 13px;
      background: url("../img/mail.png") no-repeat;
    }

    &--tel::after {
      top: 0;
      left: 255px;
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background: url("../img/phone.png") no-repeat;
    }

    &--tel {
      position: relative;
    }
  }

  &__input-wrap {
    margin-left: 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;

    @media (min-width: $screen-md) {
      margin-left: 20px;
    }
  }

  &__input {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin: 0;
    font-family: $font-family;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: $color-tundora;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid $color-input-border;
    border-radius: $border-radius;
    appearance: textfield;

    &:focus {
      @include field-focus;
    }

    &[disabled],
    &[readonly] {
      cursor: default;
      background-color: $gray-lighter;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; // stylelint-disable-line  property-no-vendor-prefix
    }

    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      // height: auto;
    }

    &[type='color'] {
      // max-width: 100px;
      padding: 0;
    }

    &::placeholder {
      color: $color-tundora;
      opacity: 1;
    }

    //@at-root textarea#{&} {
    //  $textarea-height: ($line-height * 2) + ($field-padding-vertical * 2);
    //
    //  height: auto;
    //  min-height: calc(#{$textarea-height} + 2px);
    //  resize: vertical;
    //}

    @media (min-width: $screen-md) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__help-text {
    @include field-help-text;
  }
}
