$font-family--headings:       -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;

$font-size--h3:               rem(24px) !default;

$line-height:                 1.5 !default;


.form {
  &__inner {
    @include container;
  }

  &__fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 1px dotted pink;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__title {
    font-family: $font-family;
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
    color: $color-cod-gray;
  }

  &__text {
    font-family: $font-family;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: $color-cod-gray;
    text-transform: uppercase;
  }

  &__legend {
    display: block;
    width: 100%;
    max-width: 100%; // Привет IE
    margin-top: 1rem;
    font-family: $font-family;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    color: $color-cod-gray;
    white-space: normal; // Привет IE
  }

}
