.logo {

  &--header {
    max-width: 190px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $screen-md) {
      & a:nth-child(2) {
        display: none;
        max-width: none;
      }
    }

    @media (min-width: $screen-lg) {
      & a:nth-child(2) {
        display: none;
      }

    }

    &--footer {
      padding-top: 28px;
    }

  }

}
