.page-header {

  &__inner {
    @include container;
    min-height: 65px;

    @media (min-width: $screen-md) {
      display: flex;
      justify-content: space-between;
      min-height: 85px;
      align-items: flex-end;
    }

    @media (min-width: $screen-lg ) {
      min-height: 116px;
    }
  }
}
