.program {
  margin-top: 22px;

  &__inner {
    @include container;
  }

  &__grid {
    @include row;
    margin: 0;
  }

  &__item {
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    outline: 1px dotted blue;
    margin-bottom: 20px;
    min-height: 266px;
  }

  &__item-wrap {
    padding-left: 20px;
  }

  &__img-wrap {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    outline: 1px dotted pink;
    align-items: center;
  }

  &__item:nth-child(1) {

    & .program__img::before {
      left: 6px;
      top: -5px;
      content: "";
      position: absolute;
      background: url("../img/cat-1-mobile.png") no-repeat;
      width: 39px;
      height: 49px;
      z-index: 1;
    }

  }

  &__item:nth-child(2) {
    & .program__img::before {
      left: -10px;
      top: 10px;
      content: "";
      position: absolute;
      background: url("../img/cat-2-mobile.png") no-repeat;
      width: 67px;
      height: 28px;
      z-index: 1;
    }
  }

  &__img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-apple;
    //background-color: pink;

    &::before {
      //left: 6px;
      //top: -5px;
      //content: "";
      //position: absolute;
      //background: url("../img/cat-1-mobile.png") no-repeat;
      //width: 39px;
      //height: 49px;
      //z-index: 1;

    }
  }

  &__title {
    padding-left: 20px;
    font-family: $font-family;
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;
    color: $color-cod-gray;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 10px;
    max-width: 230px;
    font-family: $font-family--arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: $color-tundora;

  }

  &__link {
    margin-top: 40px;
    display: block;
    font-family: $font-family;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: $color-cod-gray;
    text-decoration: none;
    text-transform: uppercase;
  }
}
