.program-selection {
  background: url("../img/index-background-mobile.jpg") no-repeat center top;

  @media (min-width: $screen-sm) {
    background-size: 480px 491px;
  }

  @media (min-width: $screen-md) {
    background: none;
  }

  @media  (min-width: $screen-lg) {
    background: url("../img/index-background-desktop.jpg") no-repeat center top;

  }

  &__inner {
    @include container;
    min-height: 475px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      position: relative;
    }
  }

  &__title {
    font-family: $font-family;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;

    @media (min-width: $screen-md) {
      font-size: 60px;
      line-height: 60px;
      max-width: 427px;
      text-align: left;
      margin-top: 60px;
      margin-left: 85px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 80px;
      margin-top: 110px;
    }
  }

  &__description {
    margin: 0;
    font-family: $font-family;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $screen-sm) {
      margin-bottom: 20px;
    }

    @media (min-width: $screen-md) {
      font-size: 20px;
      line-height: 20px;
      text-align: left;
      margin-left: 80px;
    }

    @media (min-width: $screen-md) {

    }
  }

  &__img {
    margin-top: 30px;

    @media (min-width: $screen-sm) {
      margin: 0 auto;
      margin-bottom: 80px;
    }
  }
}
