.program {
  margin-top: 22px;

  @media (min-width: $screen-md) {
    margin-top: 5px;
  }

  &__inner {
    @include container;
  }

  &__grid {
    @include row;
    margin: 0;

    @media (min-width: $screen-lg) {
      justify-content: space-between;
    }
  }

  &__item {
    @include col(xs, 12, 12, 0);
    @include col(sm, 12, 12, 0);
    @include col(md, 12, 12, 0);
    @include col(lg, 9.3, 20, 0);
    outline: 1px dotted blue;
    margin-bottom: 20px;
    min-height: 266px;

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
      background-color: $color-concrete;
    }

    @media (min-width: $screen-lg) {
      //width: 570px;
      background-color: transparent;
    }
  }

  &__item-wrap {
    padding-left: 20px;
  }

  &__img-wrap {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    outline: 1px dotted pink;
    align-items: center;
  }

  &__item:nth-child(1) {

    & .program__img::before {
      left: 6px;
      top: -5px;
      content: "";
      position: absolute;
      background: url("../img/cat-1-mobile.png") no-repeat;
      width: 39px;
      height: 49px;
      z-index: 1;

      @media (min-width: $screen-md) {
        top: -78px;
        left: -45px;
        background: url("../img/cat-slim-tablet.png") no-repeat;
        width: 140px;
        height: 194px;
      }

      @media (min-width: $screen-lg) {
        top: -34px;
        left: 45px;
        background: url("../img/cat-slim-desktop.png") no-repeat;
        width: 140px;
        height: 194px;
      }
    }

  }

  &__item:nth-child(2) {
    & .program__img::before {
      left: -10px;
      top: 10px;
      content: "";
      position: absolute;
      background: url("../img/cat-2-mobile.png") no-repeat;
      width: 67px;
      height: 28px;
      z-index: 1;

      @media (min-width: $screen-md) {
        top: -20px;
        left: -110px;
        background: url("../img/cat-pro-tablet.png") no-repeat;
        width: 268px;
        height: 112px;
      }

      @media (min-width: $screen-lg) {
        top: -7px;
        left: 12px;
        background: url("../img/cat-pro-desktop.png") no-repeat;
        width: 268px;
        height: 112px;
      }
    }
  }

  &__img {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-apple;

    @media (min-width: $screen-md) {
      left: 500px;
      top: 80px;
      width: 0;
      height: 0;

      &::after {
        top: -60px;
        left: -70px;
        position: absolute;
        content: "";
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $color-apple;
      }
    }

    @media (min-width: $screen-lg) {
      width: 103px;
      //height: 103px;
      left: 0;
      top: 0;

      &::after {
        top: -33px;
        left: 30px;
        position: absolute;
        content: "";
        width: 103px;
        height: 103px;
        border-radius: 50%;
        background-color: $color-apple;
      }
    }

  }

  &__title {
    padding-left: 20px;
    font-family: $font-family;
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;
    color: $color-cod-gray;
    text-transform: uppercase;

    @media (min-width: $screen-md) {
      padding-top: 35px;
      padding-left: 35px;
      font-size: 36px;
      line-height: 37px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 90px;
    }
  }

  &__description {
    margin-top: 10px;
    max-width: 230px;
    font-family: $font-family--arial;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: $color-tundora;

    @media (min-width: $screen-md) {
      padding-left: 35px;
      margin-top: -5px;
      max-width: 340px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 45px;
      padding-left: 30px;
    }

  }

  &__link {
    position: relative;
    margin-top: 40px;
    display: block;
    font-family: $font-family;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    color: $color-cod-gray;
    text-decoration: none;
    text-transform: uppercase;

    &::after {
      left: 95px;
      position: absolute;
      content: '';
      background: url("../img/right-arrow-long.png") no-repeat;
      width: 24px;
      height: 11px;

      @media (min-width: $screen-md) {
        left: 165px;
        top: 20px;
      }

      @media (min-width: $screen-lg) {
        left: 162px;
        top: 18px;
      }
    }

    @media (min-width: $screen-md) {
      padding-left: 35px;
      padding-top: 15px;
      padding-bottom: 60px;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $screen-lg) {
      margin-top: -22px;
      padding-left: 30px;
    }
  }
}
