.promo {
  padding-top: 16px;
  padding-bottom: 24px;
  background-color: #F1F4FF;
  color: #7D93DB;

  &__inner {
    @include container;
  }

  &__grid {
    @include row;
    //outline: 1px dotted black;
    outline: 1px dotted aqua!important;

  }

  &__img {
    @include col(xs, 12);
    @include col(sm, 6);
    @include col(md, 5);
    @include col(lg, 3);
    background-color: rgba(255,255,255,0.5);
    outline: 1px dotted green;
  }

  &__text {
    @include col(xs, 12);
    @include col(sm, 6);
    @include col(md, 7);
    @include col(lg, 9);
    outline: 1px dashed red;
  }

  &__item {
    @include col(xs, 12);
    @include col(sm, 6);
    @include col(md, 4);
    @include col(lg, 2);
    outline: 1px dashed red;
  }
}


.row {
  // Родитель. Указаны промежутки между ячейками: XS|SM|MD|LG|XL|XXL;
  @include row($grid-gutter-width, 10 px, 12 px, 16 px, 20 px, 26 px);
  //justify-content: space-around;

  &__element {
    @include col(xs, 12, $grid-columns, 10px); // малые ширины — 12 из 12, промежутки по умолчанию
    @include col(sm, 6, $grid-columns, 10px);  // SM (480 по умолчанию) — 6 из 12, промежутки 10px
    @include col(md, 4, $grid-columns, 12px);  // MD (768 по умолчанию) — 4 из 12, промежутки 12px
    @include col(lg, 3, $grid-columns, 16px);  // LG (992 по умолчанию) — 3 из 12, промежутки 16px
    @include col(xl, 2, $grid-columns, 20px);  // XL (1200 по умолчанию) — 2 из 12, промежутки 20px
    @include col(xxl, 1, $grid-columns, 26px); // XXL (1800 по умолчанию) — 1 из 12, промежутки 26px
    outline: 1px dotted deeppink;
    //width: 100%;
  }
}
